In [5]:
#import tools
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
print("I'm ready to go")

I'm ready to go

In [6]:
result=requests.get("http://hikersbay.com/prices/cotedivoire/abidjan?lang=en").text

# The Soup

In [10]:
soup=BeautifulSoup(result,'html')

In [12]:
soup.title

In [14]:
products=soup.findAll("td",class_='product-name')

In [16]:
products[0:10]

[<td class="product-name">Meal in a cheap restaurant</td>,
 <td class="product-name">Meal for 2 People, Mid-range Restaurant, Three-course</td>,
 <td class="product-name">McMeal at McDonalds (or Equivalent Combo Meal)</td>,
 <td class="product-name">Domestic Beer (0.5 liter draught)</td>,
 <td class="product-name">Imported Beer (0.33 liter bottle)</td>,
 <td class="product-name">Coke/Pepsi (0.33 liter bottle)</td>,
 <td class="product-name">Water (0.33 liter bottle)</td>,
 <td class="product-name">Cappuccino (regular)</td>,
 <td class="product-name">Espresso Coffee</td>,
 <td class="product-name">Cheeseburger (fastfood)</td>]

In [18]:
print(products[0].text)
print(products[1].text)
print(products[2].text)
print(products[3].text)

Meal in a cheap restaurant
Meal for 2 People, Mid-range Restaurant, Three-course
McMeal at McDonalds (or Equivalent Combo Meal)
Domestic Beer (0.5 liter draught)

In [19]:
len(products)

62

# let's use a for loop to get all the products

In [25]:
product_name=[]
city=[]
for i in range(0,len(products)):
    pro= products[i].text
    town="Abidjan"
    product_name.append(pro)
    city.append(town)

In [26]:
product_name[0:10]

['Meal in a cheap restaurant',
 'Meal for 2 People, Mid-range Restaurant, Three-course',
 'McMeal at McDonalds (or Equivalent Combo Meal)',
 'Domestic Beer (0.5 liter draught)',
 'Imported Beer (0.33 liter bottle)',
 'Coke/Pepsi (0.33 liter bottle)',
 'Water (0.33 liter bottle)',
 'Cappuccino (regular)',
 'Espresso Coffee',
 'Cheeseburger (fastfood)']

In [28]:
len(city)

62

# get the price of each product in XOF

In [29]:
price=soup.findAll('td',class_="price")

# we need a for loop

In [38]:
len(price)

245

In [59]:
price_item=[]
for i in range(1,len(price),4):
    pri=price[i].text[40:47]
    price_item.append(pri)

In [60]:
price_item[0:10]

['2,000 X',
 '20,000 ',
 '5,000 X',
 '1,000 X',
 '2,500 X',
 '600 XOF',
 '338 XOF',
 '1,900 X',
 '1,300 X',
 '1,500 X']

# let's put everything in a dataframe

In [61]:
df_abj=pd.DataFrame(zip(product_name,price_item,city),columns=["products","price","city"])

In [62]:
df_abj

                                             products    price     city
0                          Meal in a cheap restaurant  2,000 X  Abidjan
1   Meal for 2 People, Mid-range Restaurant, Three...  20,000   Abidjan
2      McMeal at McDonalds (or Equivalent Combo Meal)  5,000 X  Abidjan
3                   Domestic Beer (0.5 liter draught)  1,000 X  Abidjan
4                   Imported Beer (0.33 liter bottle)  2,500 X  Abidjan
5                      Coke/Pepsi (0.33 liter bottle)  600 XOF  Abidjan
6                           Water (0.33 liter bottle)  338 XOF  Abidjan
7                                Cappuccino (regular)  1,900 X  Abidjan
8                                     Espresso Coffee  1,300 X  Abidjan
9                             Cheeseburger (fastfood)  1,500 X  Abidjan
10                          Milk (regular), (1 liter)  950 XOF  Abidjan
11                 A loaf of fresh white bread (500g)  238 XOF  Abidjan
12                                Eggs (regular) (12)  1,300 X  Abidjan
13                                 Local Cheese (1kg)  6,900 X  Abidjan
14                           Water (1.5 liter bottle)  413 XOF  Abidjan
15                       A bottle of wine (Mid-Range)  4,200 X  Abidjan
16                   Domestic Beer (0.5 liter bottle)  425 XOF  Abidjan
17                  Imported Beer (0.33 liter bottle)  650 XOF  Abidjan
18                      Pack of Cigarettes (Marlboro)  800 XOF  Abidjan
19    Chicken breasts (skinless and boneless) - (1kg)  5,000 X  Abidjan
20                                       Apples (1kg)  1,400 X  Abidjan
21                                      Oranges (1kg)  1,400 X  Abidjan
22                                     Potatoes (1kg)  617 XOF  Abidjan
23                                   Lettuce (1 head)  383 XOF  Abidjan
24                                 Rice (white) (1kg)  720 XOF  Abidjan
25                                       Tomato (1kg)  980 XOF  Abidjan
26                                      Bananas (1kg)  350 XOF  Abidjan
27                                       Onions (1kg)  1,300 X  Abidjan
28  Beef Round (1kg) (or Equivalent Back Leg Red M...  3,800 X  Abidjan
29                                        Pears (1kg)  1,700 X  Abidjan
..                                                ...      ...      ...
31                 Perrier Water (small bottle 0,33l)  211 XOF  Abidjan
32                                     Sausages (1kg)  13,000   Abidjan
33                               Cottage cheese (1kg)  5,400 X  Abidjan
34                   One-way Ticket (Local Transport)  200 XOF  Abidjan
35                       Monthly Pass (Regular Price)  25,000   Abidjan
36                                 Gasoline (1 liter)  607 XOF  Abidjan
37  Volkswagen Golf 1.4 90 KW Trendline (Or Equiva...  12,000,  Abidjan
38  Toyota Corolla 1.6l 97kW Comfort (Or Equivalen...  19,000,  Abidjan
39                Taxi starting price (normal tariff)  350 XOF  Abidjan
40                           Taxi 1km (Normal Tariff)  283 XOF  Abidjan
41                Taxi 1 hour waiting (normal tariff)  7,500 X  Abidjan
42               Apartment (1 bedroom) in City Centre  266,000  Abidjan
43            Apartment (1 bedroom) Outside of Centre  90,000   Abidjan
44              Apartment (3 bedrooms) in City Centre  975,000  Abidjan
45           Apartment (3 bedrooms) Outside of Centre  330,000  Abidjan
46  Charges (electricity, heating, water, garbage)...  150,000  Abidjan
47  1 min. of prepaid mobile local tariff (No disc...  100 XOF  Abidjan
48  Internet (60 Mbps or More, Unlimited Data, Cab...  43,000   Abidjan
49              Fitness Club, Monthly Fee for 1 Adult  45,000   Abidjan
50        Tennis court rent (1 hour during a weekend)  5,000 X  Abidjan
51              Cinema, International Release, 1 Seat  5,000 X  Abidjan
52             1 Pair of Jeans (Levis 501 Or Similar)  51,000   Abidjan
53    1 Summer Dress in a Chain Store (Zara, H&M,...)  35,000   Abidjan
54           1 Pair of Nike Running Shoes (Mid-Range)  60,000   Abidjan
55               1 Pair of Men Leather Business Shoes  45,000   Abidjan
56  Preschool (or Kindergarten), Private, Monthly ...  41,000   Abidjan
57   International Primary School, Yearly for 1 Child  2,500,0  Abidjan
58  Price per square meter for an apartment in cit...  800,000  Abidjan
59  Price per square meter for an apartment outsid...  616,000  Abidjan
60             Average Monthly Net Salary (After Tax)  200,000  Abidjan

[61 rows x 3 columns]

In [54]:
df_abj.shape

(61, 3)